#main-login {
  position: relative;
  text-align: center;
  background-image: url("../assets/imgs/wave-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

h1 {
  text-align: center;
  padding: 2.1rem 0 4rem;
  font-size: 2.5rem;
}

.form-group {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.form-group img {
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 2px;
}
.form-group .lockdown-icon {
  padding-right: 7px;
  padding-bottom: 4px;
}
.form-group input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 70%;
  font-size: 0.9rem;
  font-weight: 300;
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 6px;
  padding-left: 4px;
}
.form-group input::placeholder {
  color: #7a7a7a;
  opacity: 0.7;
  /* Firefox */
  letter-spacing: 3px;
}
.form-group input:focus + .underline {
  width: 77%;
}
.form-group .underline {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #ff9118;
  transition: 0.5s;
}

.btn-primary {
  background-color: #ff9118;
  width: 58%;
  font-size: 0.8rem;
  margin: 1.8rem 0;
}

.account-p {
  font-weight: 600;
  font-size: 0.63rem;
}
.account-p span {
  color: #ff9118;
}

.login-wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-position: cover;
}

.dog-wrapper {
  position: absolute;
  bottom: -5px;
  right: calc(50% - 15px);
  transform: translateX(50%);
  width: 100%;
  max-width: 300px;
}
.dog-wrapper img {
  width: 80%;
}

.paw {
  position: absolute;
}

.paw-one {
  left: 0;
  bottom: 40vh;
}

.paw-two {
  right: 0;
  bottom: 20vh;
}

@media screen and (min-width: 321px) {
  .dog-wrapper img {
    width: 100%;
  }
}
.main-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dog-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}
.dog-profile img {
  width: 61px;
  width: 58px;
}
.dog-profile .info-profile p {
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.dog-profile .info-profile h2 {
  font-size: 1.8rem;
}

.status-wrapper {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 0.9rem 0;
  margin-bottom: 2rem;
}

.status-items {
  display: flex;
  justify-content: space-evenly;
}
.status-items li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.status-items p {
  font-size: 0.7rem;
  margin-bottom: 8px;
}

#main-details {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#main-details .container {
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
}

.details-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 30px);
  transform: translateY(-50%);
}
.details-wrapper .detail {
  background-color: #313131;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.details-wrapper .detail .link-a {
  display: block;
  padding: 2.6rem 1rem;
}
.details-wrapper .detail-orange {
  background-color: #ff9118;
}
.details-wrapper p {
  color: white;
  font-size: 0.6rem;
  margin-top: 0.3rem;
}

.navgation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.navgation .navigation-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  color: white;
  font-size: 0.8rem;
}
.navgation .navigation-links li {
  display: flex;
  align-items: center;
  width: 84px;
  padding: 1.6px 5px;
}
.navgation .navigation-links li small {
  display: none;
}
.navgation .navigation-links li:nth-child(1) {
  justify-content: flex-start;
}
.navgation .navigation-links li:nth-child(2) {
  justify-content: center;
}
.navgation .navigation-links li:nth-child(3) {
  justify-content: flex-end;
}
.navgation .navigation-links li.active-link {
  background-color: #797979;
  border-radius: 3px;
  letter-spacing: 1.2px;
}
.navgation .navigation-links li.active-link small {
  display: block;
}
.navgation .navigation-links li.active-link img {
  -webkit-filter: invert(100%);
  /* Safari/Chrome */
  filter: brightness(0) invert(100%);
  margin-right: 15px;
}
.navgation .navigation-links li.active-link .last-icon {
  margin-right: 0;
  margin-left: 15px;
}

@media screen and (min-width: 321px) {
  .details-wrapper {
    grid-gap: 50px;
  }
}
.profile-wrapper-detail {
  padding: 1.2rem 0 0.5rem;
  font-size: 1.1rem;
  text-align: center;
}
.profile-wrapper-detail div {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.profile-wrapper-detail div img {
  margin-right: 13px;
  width: 19px;
}
.profile-wrapper-detail .profile-dog-img {
  width: 130px;
}

.status-wrapper-info {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 0.9rem 0.9rem;
  margin-bottom: 2rem;
  font-size: 0.81rem;
  color: #313131;
  letter-spacing: 0.075em;
}
.status-wrapper-info li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 0;
}
.status-wrapper-info li span:last-child {
  color: #ff9118;
}
.status-wrapper-info .info-address {
  max-width: 50%;
  text-align: right;
}

@media screen and (min-width: 321px) {
  .profile-wrapper-detail .profile-dog-img {
    width: auto;
  }
}
.main-medical {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.status-wrapper-medical {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1.3rem 0.9rem;
  margin-top: 1.6rem;
  margin-bottom: 1.5rem;
  color: #313131;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dot::before {
  content: "";
  height: 3px;
  width: 3px;
  background-color: #ff9118;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  position: absolute;
  left: -15px;
  top: -21px;
}

.dot {
  height: 3px;
  width: 3px;
  right: 3px;
  background-color: #ff9118;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.dot::after {
  content: "";
  height: 3px;
  width: 3px;
  background-color: #ff9118;
  border-radius: 50%;
  display: inline-block;
  margin: 15px;
  position: absolute;
  left: -15px;
  top: -9px;
}

.pill {
  display: flex;
  align-items: center;
}
.pill img {
  margin-right: 13px;
}

.call-doctor {
  background-color: #ff9118;
  padding: 1rem 0;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.call-doctor .btn-outline {
  background-color: white;
  color: #ff9118;
  font-size: 0.95rem;
  font-weight: bold;
  padding: 0.5rem 3.5rem;
}

@media screen and (min-width: 321px) {
  .status-wrapper-medical {
    margin-bottom: 2rem;
  }

  .call-doctor {
    padding: 1.3rem 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h2,
p {
  color: #313131;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 90%;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 30px;
  display: inline-block;
}

/*# sourceMappingURL=styles.css.map */
