.main-home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dog-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;

  img {
    width: 61px;
    width: 58px;
  }

  .info-profile {
    p {
      margin-bottom: 1rem;
      font-size: 0.8rem;
    }
    h2 {
      font-size: 1.8rem;
    }
  }
}

.status-wrapper {
  background-color: $background-color;
  border-radius: 10px;
  padding: 0.9rem 0;
  margin-bottom: 2rem;
}

.status-items {
  display: flex;
  justify-content: space-evenly;

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 0.7rem;
    margin-bottom: 8px;
  }
}

//////details
#main-details {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .container {
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;
  }
}

.details-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 30px);
  transform: translateY(-50%);

  .detail {
    background-color: $secondary-color;

    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    .link-a {
      display: block;
      padding: 2.6rem 1rem;
    }
  }
  .detail-orange {
    background-color: $primary-color;
  }
  p {
    color: white;
    font-size: 0.6rem;
    margin-top: 0.3rem;
  }
}

.navgation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .navigation-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    color: white;
    font-size: 0.8rem;
    li {
      display: flex;
      align-items: center;
      width: 84px;
      padding: 1.6px 5px;

      small {
        display: none;
      }

      &:nth-child(1) {
        justify-content: flex-start;
      }
      &:nth-child(2) {
        justify-content: center;
      }
      &:nth-child(3) {
        justify-content: flex-end;
      }
      &.active-link {
        background-color: #797979;
        border-radius: 3px;
        letter-spacing: 1.2px;

        small {
          display: block;
        }

        img {
          -webkit-filter: invert(100%); /* Safari/Chrome */
          filter: brightness(0) invert(100%);
          margin-right: 15px;
        }
        .last-icon {
          margin-right: 0;
          margin-left: 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 321px) {
  .details-wrapper {
    grid-gap: 50px;
  }
}
